@import "tailwindcss";

/* Reset margins, paddings, and box-sizing */
@layer base {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

.apexcharts-tooltip {
    max-width: 200px !important;
    width: auto !important;
    white-space: normal !important;
    word-break: break-word !important;
    z-index: 9999 !important;
}